.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.break {
  height: 0;
  width: 100%;
}

#label-family-list {
  display: flex;
  flex-direction: column;
}

#textarea-style {
  background-color: rgba(162, 177, 203, 0.369);
}

#label-infos {
  display: flex;
  flex-direction: row;
}

#trybewarts-logo-colorida {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.name-lastname {
  display: flex;
}

.email-house {
  display: flex;
}

#label-family {
  display: flex;
  margin-top: 20px;
}
